/**
 * @version $Id$
 */

body {
    font-family: 'Trebuchet MS', Verdana, Serif;
}

code,
tt,
pre {
    font-family: 'Consolas', 'Menlo', 'Monaco',
        'Lucida Console', 'Liberation Mono',
        'DejaVu Sans Mono',
        'Bitstream Vera Sans Mono', 'Courier New',
        monospace, serif;
}

tt {
    background-color: #ddd;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

a {
    color: #2276A4;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

