body { margin: 2em; font-family: 'Ubuntu', 'Arial', serif; font-size: 16px; }
a { color: #428bca; text-decoration: none; }
a:hover { text-decoration: underline; }
code, pre { font-family: 'Monaco', 'Courier New', monospace; background-color: #ccc; }
code { padding: 0 .4em; }
