<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <meta name="description" content="{{ page.description }}" />
    <meta name="keywords" content="{{ page.keywords | join:', ' | escape }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" href="http://img.requs.org/logo-128x128.png">
    <link rel="shortcut icon" href="//img.requs.org/logo-128x128.png" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.requs.org/rss.xml"/>
    <link rel="author" href="//plus.google.com/u/0/114792568016408327418?rel=author" />
    <link rel="stylesheet" href="/css/layout.css?{{ site.data['hash'] }}"/>
    <link rel="canonical" href="//www.requs.org{{ page.url }}" />
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <p>
          <a href="/">
            <img src="//img.requs.org/logo-384x128.png" class="logo" alt="logo"/>
          </a>
        </p>
      </header>
      {{ content }}
      <div class="wrapper">
        <footer class="footer">
          <p>
            &copy; <span itemprop="author">requs.org</span>, 2009-2014
          </p>
        </header>
      </div>
    </div>
  </body>
</html>
