<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <meta name="description" content="{{ page.description }}" />
    <meta name="keywords" content="{{ page.keywords | join:', ' | escape }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" href="http://img.requs.org/logo-128x128.png">
    <link rel="shortcut icon" href="//img.requs.org/logo-128x128.png" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.requs.org/rss.xml"/>
    <link rel="author" href="//plus.google.com/u/0/114792568016408327418?rel=author" />
    <link rel="stylesheet" href="/css/layout.css?{{ site.data['hash'] }}"/>
    <link rel="canonical" href="//www.requs.org{{ page.url }}" />
    <title>{{ page.title }}</title>
  </head>
  <body>
    <a href="https://github.com/you"><img style="position:absolute;top:0;right:0;border:0;width:100px;height:100px" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
    <div class="wrapper">
      <header class="header">
        <p>
          <a href="/">
            <img src="//img.requs.org/logo-384x128.png" class="logo" alt="logo"/>
          </a>
        </p>
      </header>
      <h1>{{ page.title }}</h1>
      {{ content }}
      <footer class="footer">
        <p>
          &copy; <span itemprop="author">requs.org</span>, 2009-2014
        </p>
      </footer>
    </div>
  </body>
</html>
