 ------
 Non-Functional Requirements
 ------
 Yegor Bugayenko
 ------
 2014-06-14
 ------

~~ This source file is subject to the new BSD license that is bundled
~~ with this package in the file LICENSE.txt. It is also available
~~ through the world-wide-web at this URL: http://www.requs.org/LICENSE.txt
~~ If you did not receive a copy of the license and are unable to
~~ obtain it through the world-wide-web, please send an email
~~ to license@requs.org so we can send you a copy immediately.
~~
~~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
~~ "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
~~ LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
~~ FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE
~~ COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
~~ INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
~~ BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS
~~ OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED
~~ AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
~~ OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT
~~ OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY
~~ OF SUCH DAMAGE.

Non-Functional Requirements

  Any method (use case) may have an unlimited number of non-functional
  requirements (NFRs). They are sometimes called "qualities of service". Wikipedia
  has {{{http://en.wikipedia.org/wiki/Non-functional_requirement}a list of possible NFRs}}.

  Requs allows NFRs be related only to methods (functional requirements).
  In other words, you can't say that your entire product should be "scalable".
  Or that it has to be multi-language. Or that its mean time between failure
  is more than 24 hours.

  You should always relate such non-functional attributes to specific
  functionalities. There is a reason behind this restriction - we want
  NFRs to be testable. If they are testable - there is a tester. If there
  is a tester - there is some functionality. If there is a functionality -
  it has to be documented as a method (use case).

  The syntax is simple:

+--
UC3.2/MTBF must "be 5 minutes on a standard equipment".
UC7/PERF must "be less than 500 msec per request".
UC8/UI must "speak English and Spanish".
UC9.5.5/PERF must be "less than 100 milliseconds per HTTP request".
+--

  In the future vesions of Requs we may have more formal
  syntax for NFRs.
