 ------
 Requs Syntax
 ------
 Yegor Bugayenko
 ------
 2014-03-20
 ------

~~ This source file is subject to the new BSD license that is bundled
~~ with this package in the file LICENSE.txt. It is also available
~~ through the world-wide-web at this URL: http://www.requs.org/LICENSE.txt
~~ If you did not receive a copy of the license and are unable to
~~ obtain it through the world-wide-web, please send an email
~~ to license@requs.org so we can send you a copy immediately.
~~
~~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
~~ "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
~~ LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
~~ FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE
~~ COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
~~ INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
~~ BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS
~~ OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED
~~ AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
~~ OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT
~~ OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY
~~ OF SUCH DAMAGE.

Requs Syntax

  {{{http://standards.ieee.org/reading/ieee/std_public/description/se/830-1998_desc.html}IEEE 830-1998}}
  says: "SRS (<software requirements specification>) should be
  correct, unambiguous, complete, consistent, ranked for importance and/or stability,
  verifiable, modifiable, traceable". Requs is enabling the creation
  of such documents in plain text format.

* Quick Start

  The scope definition document consists of <<types>>
  and <<methods>> (or use cases). For example, there are two types
  (<<<Visitor>>> and <<<ImageFile>>>) and one
  use case (<<<UC3.2>>>) defined in the snippet:

+--
Visitor is an "originator of HTTP request".
UC3.2 where User (a user) deletes photos:
  "we will define it later...".
ImageFile includes: PNG content, name, and size.
+--

  Everything inside double quotes is considered as
  informal content, which we take "as is", without
  any attempt to understand what it means. You can double quote anything
  (except double quotes, of course), and you can place
  informal texts in any place of the document. They are ignored
  during formal Requs analysis.

  Let's consider a bit bigger example of a type <<<ImageFile>>>:

+--
ImageFile includes:
  PNG content as "binary content as defined by ISO-15948",
  name as "a unique alpha-numeric name of the image",
  size as "total number of bytes in PNG content".
+--

  The semantic is the same -- the type still contains three <<slots>>
  (<<<PNG content>>>, <<<name>>> and <<<size>>>). However
  in this example we have added an informal explanation to every one of them.
  An <<<as>>> keyword separates the name of the slot and its invariant.
  Pay attention to the dots, colons, semicolons and commas used above.
  Comma, semicolon and preposition <<<and>>> can replace each other.
  For example, the following declarations are semantically equivalent:

+--
PNG content and name and size
PNG content, name, size
PNG content; name; and size
+--

  By means of <<<is>>>/<<<is a>>> we enable a declaration of <<invariants>>
  on types. Invariant is a <<predicate>>, which is always true, no matter
  what happens with the system. In the example above it is always true
  that <<<PNG content>>> is a file with binary content (not a readable
  ASCII text). Nobody can break this invariant and put a textual information
  into this slot.

  As you noticed, an invariant could be declared with an informal text, as we've
  done with <<<size>>>. Such a declaration means
  absolutely nothing and will be ignored. But it helps when you're starting
  to develop the scope document.

  In general, <<informal texts>> play an important role during the initial
  development of a requirements document and
  during a preliminary system analysis. When you don't know for sure
  how to define the information you have in a strict format -- you
  should use informal texts. Later, when you have more information,
  you will replace them.

  As you've already noticed, Requs is a case-insensitive language in all places
  except one -- type names should use
  {{{http://en.wikipedia.org/wiki/CamelCase}CamelCase Notation}}. Thus,
  <<<ImageFile>>> is a valid type
  name, and <<<imagefile>>> is just an English word.

  To put things together we should declare a use case, which is
  a step-by-step explanation of interaction between instances of types
  (so called <<objects>>), for example:

+--
UC8.1 where User (a user) shares Image with User (a friend):
  1. The user creates Image (a photo).
  2. The user updates the friend "selecting one of his contacts".
  3. We convert the photo "to the right PNG format, 600x600 maximum".
  4. We notify the friend by email.
  5. The friend reads the photo "in his own web page".
UC8.1/1 If "the user exceeds the maximum possible number of photos":
  1. Failure "photos limit exceeded".
UC8.1/3 If failed with "invalid format":
  1. "We notify user about the problem".
  2. Failure "can't convert photo".
+--

  First line in this example is a declaration of a use case,
  which number is <<<UC8.1>>>. The use case has a <<signature>>,
  which differentiates it from all other use cases. It is not the
  ID of the use case, but the signature, which is important. This
  concept is very similar to
  {{{http://en.wikipedia.org/wiki/Signature_(computer_science)}function signature}}
  in programming. The
  signature of this use case is (types are in bold):

+--
User shares Image with User
+--

  In order to include this use case into another one we should use this
  signature, filling it with particular objects. Objects start with
  article <<<the>>> and on their first occurrence they appear in round brackets. In our
  use case there are three objects: <<<the user>>>,
  <<<the friend>>> and <<<the photo>>>. An object could be
  either received by a use case or created inside it. However, there is no grammar
  difference between objects received and objects created. We assume
  that an object is empty until anyone updates or creates it (more on this later).

  There are seven <<main flows>> in this use case, and five <<alternative
  flows>>. Flows <<<1>>>, <<<5>>>, <<<6>>>, and <<<7>>>
  instruct us to include other use cases that match the signatures
  provided and pass them the objects we have. Let's see
  what these flows really tell us about:

+--
1. User creates Image
  the user => User
  the photo => Image
5. SUD converts ImageFile
  the photo => ImageFile
6. SUD notifies ActorUser by email.
  the user => ActorUser
7. ActorUser reads ImageFile.
  the photo => ImageFile
+--

  There are four use cases that our use case <<<UC8.1>>> includes.
  They have to be defined somewhere else in the document,
  otherwise the document would be invalid. But not all four are
  mandatory, because there is a number of <<elementary use cases>>,
  which are defined in the system, even if the document is
  empty. The elementary use cases are
  ({{{http://en.wikipedia.org/wiki/Create,_read,_update_and_delete}CRUD}} requirements pattern):

+--
Somebody creates something
Somebody reads something
Somebody updates something
Somebody deletes something
Something is something
Somebody turns into somebody
+--

  As you understand, <<<somebody>>> means "any actor",
  and <<<something>>> means "object of any type".
  <<<create>>> means to make a new object.
  <<<read>>> means to read all and any slots of an object, and all their slots, etc.
  <<<update>>> means to change values of slots of an object.
  <<<delete>>> means to remove an object from a persistent storage.

  With <<<turns into>>> elementary use case we convert one
  actor to another.

  Thus, a valid flow either points us to another use case
  defined somewhere else in the document, or points us to
  an elementary use case, or points us nowhere with an informal text
  (<<informal flow>>).

  Besides that, a flow might have a special instruction, which we've seen
  in alternative flow <<<1a1>>> and <<<5a2>>>. <<<failure>>>
  means that a use case should be stopped at this point and the
  reason of this termination is explained right after the word <<<failure>>>
  as an informal text.

  Reason of failure is used by a parent use case, which included the
  current one. This is exactly what happens in <<<5a>>>. We are
  waiting for a failure from <<<we convert the photo>>>, and
  we're ready to accept a failure called <<<invalid format>>>.
  This approach is very similar to
  {{{http://en.wikipedia.org/wiki/Exception_handling}exception handling paradigm}}
  in object-oriented languages.

* Scope Ambiguity

  There is only one metric that tells us everything about
  the entire scope definition document. The metric is called
  "<<scope ambiguity>>" and is calculated like:

+--
A = S / (S + M)
+--

  <S> stands for a total number of all informal flows,
  and <M> is a total number of CRUD-manipulators.
  Thus, if <A> equals to 0, the document is absolutely non-ambiguous,
  which is an almost impossible situation. In real world projects
  the task of a system analyst is to move <A> from 1 to 0.

* More Details on Use Cases

  This section contains a detailed review of a use cases defined
  above:

+--
UC4 where ActorUser (the user) communicates:
  1. The user shares ImageFile with ActorUser.
  2. "He can do other actions, not defined yet".
UC8.1 where ActorUser (the user) shares ImageFile
with ActorUser (the friend):
  1. The user creates ImageFile (the photo).
  2. The friend is friend of the user.
  3. We convert the photo "to the right PNG format, 600x600 maximum".
  4. We notify the friend by email.
  5. The friend reads the photo "in his own web page".
UC8.1 0a) If "the user exceeds the maximum possible number of photos":
  1. Failure "photos limit exceeded".
UC8.1 3a) If failed with "invalid format":
  1. "We notify user about the problem".
 2. Failure "can't convert photo".
+--

  <<<UC4 where ActorUser (the user) communicates:>>>
  <<<UC4>>> is defined with a signature <<<{...} communicates>>>, which
  is unique in the scope and explicitly identifies the use case. This signature
  has only one parameter that has to be of type <<<ActorUser>>>.

  <<<1. The user shares ImageFile with ActorUser.>>>
  First flow of the use case <<<UC4>>> points to another use
  case, which has to be found by signature <<<{...} shares {...} with {...}>>>,
  and types of parameters are <<<ActorUser>>>, <<<ImageFile>>> and <<<ActorUser>>>.
  This signature matches the signature of use case <<<UC8.1>>>.

  <<<2. "He can do other actions, not defined yet".>>>
  This flow is informal and doesn't mean anything for the requs parser. It might
  mean something for the reader, but not for the software.

  <<<UC8.1 where ActorUser (the user) shares ImageFile with ActorUser (the friend):>>>
  The declaration of another use case <<<UC8.1>>> with a signature
  <<<{...} shares {...} with {...}>>> that exactly matches the first
  flow of <<<UC4>>>. The use case instantiates two objects:
  <<<the user>>> of type <<<ActorUser>>> and
  <<<the friend>>> of the same type. <<<ImageFile>>> (the
  second parameter of the use case) does not instantiate anything, and
  it means that <<<UC4>>>, which is calling <<<UC8.1>>>, won't be able
  to retrieve the <<<ImageFile>>> created/managed here.

  <<<1. The user creates ImageFile (the photo).>>>
  The first flow of this use case points to an elementary use case
  <<<{...} creates {...}>>>. Two parameters of this elementary
  use case have to be provided, and they are:
  <<<the user>>> and <<<the photo>>>. It is assumed that
  <<<the user>>> was instantiated before and is not <<<NULL>>>, and <<<the photo>>> will
  be instantiated in this elementary use case. <<<The photo>>>
  was just declared in this flow and it means that it's <<<NULL>>> so far.
  <<<The user>>> was passed as a parameter to this use case
  and there is no information about its status, whether it is <<<NULL>>> or not.
  If it is <<<NULL>>> (not instantiated yet) -- it is an error
  and it will be found by requs parser and reported.

  <<<2. The friend is one of friend of the user.>>>
  Explicit instantiation of the variable happens here. <<<Friend of the user>>>
  is a slot in <<<the user>>> and

