<?xml version="1.0"?>
<!--
 * Copyright (c) 2011-2012, ReXSL.com
 * All rights reserved.
 -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.0" metadata-complete="true" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>requs-demo</display-name>
    <description>requs-demo</description>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/robots.txt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/css/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/xsl/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/js/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExceptionTrap</servlet-name>
        <servlet-class>com.rexsl.core.ExceptionTrap</servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>/org/requs/rest/exception.html.vm</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExceptionTrap</servlet-name>
        <url-pattern>/trap</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/trap</location>
    </error-page>
    <filter>
        <filter-name>XsltFilter</filter-name>
        <filter-class>com.rexsl.core.XsltFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>XsltFilter</filter-name>
        <servlet-name>RestfulServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>RestfulServlet</servlet-name>
        <servlet-class>com.rexsl.core.RestfulServlet</servlet-class>
        <init-param>
            <param-name>com.rexsl.PACKAGES</param-name>
            <param-value>org.requs.rest</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>RestfulServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/error</location>
    </error-page>
    <mime-mapping>
        <extension>xsl</extension>
        <mime-type>text/xsl</mime-type>
    </mime-mapping>
</web-app>
