textarea#example{
    display: inline; 
    vertical-align: top;
}

div#status {
    display: inline; 
    vertical-align: top;
}

    div#result{
        display: inline; 
        font-weight: bold;
        font-size: 3em;
    }
    
        div#result.error{
            content: "A";
            color: red;
        }

        div#result.success{
            content: "OK";
            color: green;
        }
    