<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Internal application error</title>
        <link href="/css/style.css?${buildNumber}"
            rel="stylesheet" type="text/css"></link>
        <link rel="icon" type="image/gif"
            href="http://img.requs.org/ico-64x64.png?${buildNumber}"/>
    </head>
    <body>
        <div id="content">
            <p>
                <a href="http://www.requs.org/">
                    <img src="http://img.requs.org/logo.png?${buildNumber}"
                        style="width:192px;"/>
                </a>
            </p>
            <p>
                <strong style="color: red;">
                    Internal application error (${buildNumber}).
                </strong>
            </p>
            <pre>${text}</pre>
        </div>
    </body>
</html>
