# SPDX-FileCopyrightText: Copyright (c) 2009-2025 Yegor Bugayenko
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: Python-Flake8-Linter

'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  flake8:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - name: Install dependencies
        run: pip install flake8
      - name: Run Flake8
        run: |
          flake8 --max-line-length=120 .
