name: Python-Flake8-Linter

'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  flake8:
    name: Flake8
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Install dependencies
        run: pip install flake8
      - name: Run Flake8
        run: |
          flake8 --max-line-length=120 .
